body{
    width: 100vw;
  height: 100vw;
  overflow: hidden;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(0, 255, 0);
}
#mainview{
  width: 100vw;
  height: 100vw;
 display: flex;
}

#circle {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px;
}
#Pointcontainer{
  position: absolute;
  bottom: 0;           /* Positions the element at the bottom edge */
  left: 50%;           /* Moves the left edge to the horizontal center */
  transform: translateX(-50%); /* Pulls the element back by half of its own width */
  width: 410px;
  height: 110px;
  border: 1px;
  border-color: red;
  display: flex;
}
#gamelogoPNG{
  height: 100px;
  margin: auto;
  position: absolute;
  bottom: 0;           /* Positions the element at the bottom edge */
  left: 50%;           /* Moves the left edge to the horizontal center */
  transform: translateX(-50%); /* Pulls the element back by half of its own width */
}
#LogoSpace{
width: 110;
height: 110;
margin: auto;
background-color: white;
border: 5px;
border-color: black;
position: absolute;
  bottom: 0;           /* Positions the element at the bottom edge */
  left: 50%;           /* Moves the left edge to the horizontal center */
  transform: translateX(-50%); /* Pulls the element back by half of its own width */

}#pointsRight{
  margin: auto;
  width: 100%;
  right: 0%;
  top: 25%;
  display: flex;
  font-size: 42pt;
  position: absolute;
  color: white;
  align-items: center;
  justify-content: center;

}#pointsLeft{
  margin: auto;
  width: 100%;
  left: 0%;
  top: 25%;
  display: flex;
    font-size: 42pt;
    position: absolute;
    color:white;
  align-items: center;
    justify-content: center;

}#teamRight{
  right: -9%;
  bottom: 110;
  position: absolute;
  background-color: white;
  width: 200;
  height: 30;
  text-align: center;
   font-size: 18pt;
   padding-bottom: 5px;
   padding-top: 5px;

}#teamLeft{
  left: -9%;
  bottom: 110;
  position: absolute;
  background-color: white;
  width: 200;
  height: 30;
  text-align: center;
   font-size: 18pt;
   padding-bottom: 5px;
   padding-top: 5px;
}

#B1{
margin: auto;
position: absolute;
left: 1%;
width: 32%;
}
#B2{
  margin: auto;
  position: absolute;
  left: 33%;
  width: 32%;
}#B3{
  margin: auto;
  position: absolute;
  left: 65%;
  width: 32%;
}
#R1{
  margin: auto;
  position: absolute;
  left: 2%;
  width: 33%;
}
#R2{
  margin: auto;
  position: absolute;
  left: 33%;
  width: 33%;
}#R3{
  margin: auto;
  position: absolute;
  left: 66%;
  width: 33%;
}


.Redpoints{
  background-color: red;
width: 150;
height: 110;
display: flex;
text-align: center;
position: relative;
}
.Bluepoints{
  background-color: blue;
  width: 150;
height: 110;
display: flex;
text-align: center;
position: relative;
}
#TimerContainer{
margin: auto;
width: 65px;
padding: 5px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 6px;
padding-top: 6px;
background-color: white;
border: 5px;
border-color: black;
position: absolute;
  bottom: 110px;           /* Positions the element at the bottom edge */
  left: 50%;           /* Moves the left edge to the horizontal center */
  transform: translateX(-50%); /* Pulls the element back by half of its own width */
font-size: 35;
z-index: 100;
}
#pointsLeftContainer{
margin: auto;
  position: absolute;
  bottom: 0;           /* Positions the element at the bottom edge */
  left: 0%;           /* Moves the left edge to the horizontal center */
 

}#pointsRightContainer{
margin: auto;
  position: absolute;
  bottom: 0;           /* Positions the element at the bottom edge */
  right: 0%;           /* Moves the left edge to the horizontal center */
 

}