body{
    width: 100vw;
  height: 100vw;
  overflow: hidden;
  font-size: large;
  font-family:  Impact,'Arial Bold', sans-serif;
  background-color: rgb(0, 255, 0);
}
#mainview{
  width: 100vw;
  height: 100vw;
 display: flex;
}

#circle {
  width: 100px;
  height: 100px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px;
}
#topBarContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
   font-family:   'Arial','Arial Narrow Bold', sans-serif;
 font-weight: bold;
}#topBarLogoLeft{
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  background-color: white;
}
#topBarLogoRight{
  position: absolute;
  top: 0;
  right: 0;
  height: 46px;
  background-color: white;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
}
#centerTBText{
  color: white;
  position: absolute;
text-align: center;
z-index: 100;
font-size: 32pt;
width: 100%;
top: 0;
}#MidLeftRedSection{
  position: absolute;
width: 50%;
height: 100%;
left: 0%;
top: 50px;
background-color: #ed1d26;
z-index: -1000;
}#RedTotalContainer{
  position: absolute;
  Right: 0;
  top: 10px;
  width: 300px;
  height: 150px;
  text-align: center;
  color: white;
  background-color: #ed1d26;

}#RedoffsetBackground{
  position: absolute;
  background-color: #820e11;
  z-index: -999;
  width: 100%;
  height: 98%;
  bottom: 0px;
}#RedPointTitle{
  position: absolute;
  height: 30%;
  width: 100%;
  font-size: 25pt;
   font-family:   'Arial','Arial Narrow Bold', sans-serif;
 font-weight: bold;
}#RedPointCount{
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  font-size: 56pt;
}

#MidRightBlueSection{
position: absolute;
height: 100%;
width: 50%;
right: 0%;
top: 50px;
background-color: 0166b3;
z-index: -1000;
}#BlueoffsetBackground{
  position: absolute;
  background-color: #004172;
  z-index: -999;
  width: 100%;
  height: 98%;
  bottom: 0px;
}#BlueTotalContainer{
  position: absolute;
  left: 0;
  top: 10px;
  width: 300px;
  height: 150px;
  text-align: center;
  color: white;
  background-color: #0166b3;

}#BluePointTitle{
  position: absolute;
  height: 30%;
  width: 100%;
  font-size: 25pt;
   font-family:   'Arial','Arial Narrow Bold', sans-serif;
 font-weight: bold;
}#BluePointCount{
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  font-size: 56pt;
}
  #bottomBarContainer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: black;
}#bottomBarLogoleft{
    position: absolute;
  top: 0;
  left: 0;
  height: 61px;
  background-color: white;
  padding: 7px;
}
#pointMatrix{
  position: absolute;
  width: 600px;
  height: 600px;
  background-color: beige;
  top:210px;
 left: 50%;
 transform: translateX(-50%); /* Pulls the element back by half of its own width */
 font-size: 35pt;
 font-family:   'Arial','Arial Narrow Bold', sans-serif;
 font-weight: bold;
}#AutoTitleConainer{  
  text-align: center;
  height: 14.28%;
  width: 100%;
  position: relative;
  top: 0;
  background-color: #d9d9d9;

}#AutoTitleDiv{
    position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%); /* Pulls the element back by half of its own width */
}
#AutoFuelConainer{
  text-align: center;
  height: 14.28%;
  width: 100%;
  position: relative;
  top: 0%;
}#AutoFuelTitle{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);/* Pulls the element back by half of its own width */
  top:50%;
}
#RedAutoFuel{
  position: absolute;
  left: 10px;
  text-align: left;
  top: 50%;
  transform: translatey(-50%); /* Pulls the element back by half of its own width */

}#BlueAutoFuel{
  position: absolute;
  right: 10px;
    text-align: right;
    top: 50%;
    transform: translatey(-50%); /* Pulls the element back by half of its own width */


}#AutoTowerConainer{
  text-align: center;
  height: 14.28%;
  width: 100%;
  position: relative;
  top: 0%;

}#AutoTowerTitle{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);/* Pulls the element back by half of its own width */
}
#RedAutoTower{
  position: absolute;
  left: 10px;
  text-align: left;
top: 50%;
    transform: translatey(-50%); /* Pulls the element back by half of its own width */



}#BlueAutoTower{
  position: absolute;
  right: 10px;
    text-align: right;
  top: 50%;
    transform: translatey(-50%); /* Pulls the element back by half of its own width */




}#TeleopTitleConainer{
  text-align: center;
  height: 14.28%;
  width: 100%;
  position: relative;
  top: 0;
  background-color: #d9d9d9;
}#TeleopTitleDiv{
  position: absolute;
  left: 50%;
  top:50%;
      transform: translate(-50%,-50%); /* Pulls the element back by half of its own width */

}
#TeleopFuelConainer{
  text-align: center;
  height: 14.28%;
  width: 100%;
  position: relative;
  top: 0;}

  #TeleoFuelTitle{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%); /* Pulls the element back by half of its own width */

}
#RedTeleoFuel{
  position: absolute;
  left: 10px;
  text-align: left;
  top: 50%;
  transform: translatey(-50%); /* Pulls the element back by half of its own width */


}#BlueTeleoFuel{
  position: absolute;
  right: 10px;
    text-align: right;
    top: 50%;
    transform: translatey(-50%); /* Pulls the element back by half of its own width */



}

#TeleopTowerConainer{
  text-align: center;
  height: 14.28%;
  width: 100%;
  position: relative;
  top: 0%;}
    #TeleopTowerTitle{
  position: absolute;
    left: 50%;
  top:50%;
      transform: translate(-50%,-50%); /* Pulls the element back by half of its own width */

}
#RedTeleopTower{
  position: absolute;
  left: 10px;
  text-align: left;
  top: 50%;
      transform: translatey(-50%); /* Pulls the element back by half of its own width */


}#BlueTeleopTower{
  position: absolute;
  right: 10px;
  text-align: right;
  top: 50%;
  transform: translatey(-50%); /* Pulls the element back by half of its own width */


}
#FoulPointConainer{
  text-align: center;
  height: 14.28%;
  width: 100%;
  position: relative;
  top: 0%;
  background-color: #d9d9d9;}
      #FoulPointrTitle{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%); /* Pulls the element back by half of its own width */

}
#RedFoulPoint{
  position: absolute;
  left: 10px;
  text-align: left;
  top: 50%;
  transform: translatey(-50%); /* Pulls the element back by half of its own width */


}#BlueFoulPoint{
  position: absolute;
  right: 10px;
    text-align: right;
    top: 50%;
    transform: translatey(-50%); /* Pulls the element back by half of its own width */


}
#RedTeamContainer{
  position: absolute;
  left: 5%;
  text-align: left;
  top: 20%;
  font-size: 64pt;
}
#BlueTeamContainer{
  position: absolute;
  right: 5%;
  text-align: right;
  top: 20%;
  font-size: 64pt;
}
#red1{
position: relative;
background-color:#ed1d26 ;
}
#red2{
position: relative;
background-color:#ed1d26 ;
}
#red3{
position: relative;
background-color:#ed1d26 ;
}
#Blue1{
  position: relative;
background-color:#0166b3 ;
}#Blue2{
    position: relative;
background-color:#0166b3 ;
}#Blue3{
    position: relative;
background-color:#0166b3 ;
}
#TimerContainer{
  background-color: black;
  width: 300px;
  height: 95px;
  left: 50%;
  transform: translatex(-50%); /* Pulls the element back by half of its own width */
  color:white;
  text-align: center;
    position: absolute;
}#TimerValue{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); /* Pulls the element back by half of its own width */
  font-size: 60pt;
}
#bottomTextContainer{
  text-align: center;
  color: white;
  font-size: 32pt;
     font-family:   'Arial','Arial Narrow Bold', sans-serif;
 font-weight: bold;
}
.teams{
  height: 100px;
  width: 400px;
  margin: 10px;
  padding:10px;
  color:white;
}
/* HTML: <div class="arrow"></div> */
.Larrow {
  --t: 45%; /* control the tail part */
  --h: 40%; /* control the head part */
  
  aspect-ratio: 3/2;
  width: 250px;
  background: #000000;
  clip-path: polygon(100% calc(50% - var(--t)/2),var(--h) calc(50% - var(--t)/2),var(--h) 0,0 50%,var(--h) 100%,var(--h) calc(50% + var(--t)/2),100% calc(50% + var(--t)/2));
}
/* HTML: <div class="arrow"></div> */
.Rarrow {
  --t: 45%; /* control the tail part */
  --h: 40%; /* control the head part */
  
  aspect-ratio: 3/2;
  width: 250px;
  background: #000000;
  clip-path: polygon(0 calc(50% - var(--t)/2),calc(100% - var(--h)) calc(50% - var(--t)/2),calc(100% - var(--h)) 0,100% 50%,calc(100% - var(--h)) 100%,calc(100% - var(--h)) calc(50% + var(--t)/2),0 calc(50% + var(--t)/2));
}
#RedArrowContainer{
  background-color: yellow;
    width: fit-content;
    position: absolute;
    visibility: hidden;
  left: 2%;
}#BlueArrowContainer{
      width: fit-content;
      position: absolute;
  Right: 2%;
  visibility: hidden;
}
.ArrowContainer{
  background-color: yellow;
  width: fit-content;
  padding: 20;
  padding-left: 40;
  padding-right: 40;
}